<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Approve Reject {{userRole==3? 'Ceo':userRole==2? 'Cfo':userRole==4? 'Head':''}}</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="bg">

  <div class="home-header">
    <div class="head-left">
      <img class="back-btn" src="assets/icon/back-btn.png" (click)="goBackPage()">
      <p>Approve Reject {{userRole==3? 'Ceo':userRole==2? 'Cfo':userRole==4? 'Head':''}}</p>
    </div>
    <div class="head-right">
      <img src="assets/img/trf-logo.png">
    </div>
  </div>

  <!-- Default Segment -->

  <!-- <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="userRole != 3" value="approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
  </ion-segment>
 -->

  <div class="contents-segment">
    <!-- pending -->
    <div class="pending-seg" *ngIf="segment == 'pending'">

      <div class="seg-list" *ngFor="let item of approvalRequests; let i=index" (click)="selectCard(i, item)" [ngClass]="item.selected?'selectedClass':''">
        <h6>{{item.EmployeeName}}</h6>
        <p class="loc">From: {{item.DestinationIDFrom}} to
          {{ item.DestinationIDTo1}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status pending-st">Status: Pending</p>
        <!-- <div class="btns" *ngIf="userRole != 3">
          <ion-button size="small" class="approve-btn">Approve</ion-button>
          <ion-button size="small" class="reject-btn">Reject</ion-button>
        </div> -->
      </div>

    </div>

    <!-- approved -->
    <div *ngIf="segment == 'approved'">
      <div class="seg-list" *ngFor="let item of approvedRequests">
        <h6>{{item.EmployeeName}}</h6>
        <p class="loc">From: {{item.DestinationIDFrom}} to {{item.DestinationIDTo1}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status approved-st">Status: Approved</p>
      </div>
    </div>


  </div>


  <p *ngIf="approvalRequests.length<1" class="no-record">No Record</p>


  <div class="img-btm-div">
    <img src="assets/img/logo.png">
  </div>

  <div class="btns" *ngIf="userRole == 3 && segment == 'pending' && approvalRequests.length>0">
    <ion-button size="small" class="approve-btn" (click)="approveByCeo(1)">Approve</ion-button>
    <!-- <ion-button size="small" class="reject-btn" (click)="approveByCeo(0)">Reject</ion-button> -->
  </div>

</ion-content>