ion-header ion-toolbar {
    --background: #3e3866 !important;
    color: #fff;
    text-align: center;
}

.list-header-custom {
    background: #206eb9;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 160px;
    margin-top: 2%;
}

ion-button {
    --background: #206eb9 !important;
    color: #fff;
    --border-color: #206eb9 !important;
    margin-bottom: 10%;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    --border-radius: 150px;
    font-size: 16px;
    font-weight: 600;
}

.burger-icon {
    color: #fff;
}

.reject-btn {
    --background: red !important;
}

.approve-btn {
    --background: green !important;
}

.btns ion-button {
    width: 40% !important;
    margin: 2%;
}

.btns {
    float: left;
    width: 100% !important;
    text-align: center;
}

.in-valid {
    // border-bottom: 2px solid red;
}


// NEW CSS_______-----______----


.bg {
    --background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
}


.home-header {
    width: 100%;
    color: #fff;
    padding-left: 7%;
    float: left;
    background: #0d6eb9;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.head-left {
    margin-top: 8%;
    width: 50%;
    float: left;

}

.head-left p {
    // font-size: 21px;
    // font-weight: 500;
    // margin: auto;

    float: left;
    width: 70%;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 18px;
    font-weight: 500;

}

.head-left {
    width: 70%;
    float: left;
}

.head-right {
    width: 30%;
    float: right;
    text-align: right;
}


.head-right img {
    width: 60%;
    margin-right: 20%;
    margin-top: 19%;
}

.back-btn {
    width: 15%;
    float: left;
}

.form-list {
    width: 90%;
    background: transparent;
    margin: auto;
}


.form-list ion-item {
    --border-radius: 160px;
    margin-top: 2%;
}


.form-list ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
    --color: #0d6eb9;
}

.form-list ion-item ion-input {

    --placeholder-color: #0d6eb9;
    --color: #0d6eb9;
    font-size: 17px;
    font-weight: 700;
}

.form-list ion-item ion-label {
    --color: #0d6eb9;
}

.form-list ion-item ion-select {
    --color: #0d6eb9;
}

.form-list ion-item ion-select .select-text {
    --color: #0d6eb9;
}

.list-header-custom img {
    width: 10%;
    margin-right: 9%;
}


.invalid-txt {
    color: red;
    margin: auto;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 4%;
}


.img-btm-div {
    text-align: center;
    float: left;
    width: 100%;
    /* margin-top: 8%; */
    position: absolute;
    bottom: 2%;
}