<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="isApproveBtn">
      <ion-list-header class="list-header-custom">
        <ion-label>Budget Information</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Budget</ion-label>
        <ion-input disabled="true" [(ngModel)]="budget.budget"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Used Budget</ion-label>
        <ion-input disabled="true" [(ngModel)]="budget.used"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Selected TRF Expenses</ion-label>
        <ion-input disabled="true" [(ngModel)]="budget.selected"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Balance</ion-label>
        <ion-input disabled="true" [(ngModel)]="budget.balance"></ion-input>
      </ion-item>
    </div>

    <ion-list-header class="list-header-custom">
      <ion-label>User Information</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Staff Code</ion-label>
      <ion-input disabled="true" [(ngModel)]="userInfo.staffCode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Designation</ion-label>
      <ion-input disabled="true " [(ngModel)]="userInfo.designation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-input disabled="true " [(ngModel)]="userInfo.department"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label position="floating">Agency</ion-label>
      <ion-input disabled="true" [(ngModel)]="userInfo.agency"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input disabled="true" [(ngModel)]="userInfo.location"></ion-input>
    </ion-item>


    <!-- ---------------------||||||||||||||||||||||||||||||||---------------------- -->
    <ion-list-header class="list-header-custom">
      <ion-label>Basic Information</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nature Of Travel</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="basicInfo.natureOfTravel" [disabled]="isReadOnly"
        (ionChange)="natureOfTravelSelect()">
        <ion-select-option value="domestic">Domestic</ion-select-option>
        <ion-select-option value="international">International</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="otherInfo.hotelBookingRequired == 'yes'">
      <ion-label position="floating">Hotel Price</ion-label>
      <ion-input disabled="true" [(ngModel)]="basicInfo.hpamount" (ngModelChange)="calcTotalHotelPrice()"></ion-input>
    </ion-item>

    <ion-item *ngIf="otherInfo.hotelBookingRequired == 'yes'">
      <ion-label position="floating">Transport Price</ion-label>
      <ion-input disabled="true" [(ngModel)]="basicInfo.tpamount"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Purpose Of Travel</ion-label>
      <ion-input disabled="true" [(ngModel)]="basicInfo.purposeOfTravel" [disabled]="isReadOnly"></ion-input>
      <!-- <ion-select placeholder="Select" [(ngModel)]="basicInfo.purposeOfTravel" [disabled]="isReadOnly">
        <ion-select-option *ngFor="let item of reasonPurpose" value="item.PKID">{{item.Purpose_desc}}</ion-select-option>
      </ion-select> -->
    </ion-item>

    <ion-item>
      <ion-label>Reason</ion-label>
      <!-- <ion-input [(ngModel)]="basicInfo.reason" [disabled]="isReadOnly"></ion-input> -->
      <ion-select placeholder="Select" [(ngModel)]="basicInfo.reason" [disabled]="isReadOnly">
        <ion-select-option *ngFor="let item of reasonPurpose" [value]="item.Purpose_desc">{{item.Purpose_desc}}
        </ion-select-option>

        <!-- <ion-select-option value="1">Value 1</ion-select-option>
        <ion-select-option value="2">Value 2</ion-select-option>
        <ion-select-option value="3">Value 3</ion-select-option>
        <ion-select-option value="4">Value 4</ion-select-option>
        <ion-select-option value="5">Value 5</ion-select-option>
        <ion-select-option value="6">Value 6</ion-select-option> -->
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Chargeable to Clients</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="basicInfo.chargableToClients"
        (ionChange)="chargableToClientsChange(basicInfo.chargableToClients)" [disabled]="isReadOnly">
        <ion-select-option value="yes">YES</ion-select-option>
        <ion-select-option value="no">NO</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Name of Clients/Regions</ion-label>
      <!-- <ion-input [(ngModel)]="basicInfo.nameOfClients" [disabled]="basicInfo.chargableToClients == 'no' || isReadOnly">
      </ion-input> -->
      <ion-select placeholder="Select" [(ngModel)]="basicInfo.nameOfClients"
        [disabled]="basicInfo.chargableToClients == 'no' || isReadOnly"
        (ionChange)="clientSelect(basicInfo.nameOfClients)">
        <ion-select-option *ngFor="let item of clients" [value]="item.Client_Name">{{item.Client_Name}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>PE</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="basicInfo.pe"
        [disabled]="basicInfo.chargableToClients == 'no' || isReadOnly || peList.length == 0">
        <ion-select-option *ngFor="let item of peList" [value]="item.PE">{{item.PE}}</ion-select-option>

        <!-- <ion-select-option value="1">0001</ion-select-option>
        <ion-select-option value="2">1234</ion-select-option>
        <ion-select-option value="3">4342</ion-select-option>
        <ion-select-option value="4">5432</ion-select-option>
        <ion-select-option value="5">7790</ion-select-option>
        <ion-select-option value="6">4323</ion-select-option> -->

      </ion-select>
    </ion-item>

    <!-- ---------------------||||||||||||||||||||||||||||||||---------------------- -->
    <ion-list-header class="list-header-custom">
      <ion-label>Travel Information</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Departure From</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="travelInfo.departureFrom" [disabled]="isReadOnly">
        <ion-select-option *ngFor="let item of designations" [value]="item.Destination">{{item.Destination}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>To</ion-label>
      <ion-select placeholder="" [(ngModel)]="travelInfo.departureToTwo" [disabled]="isReadOnly"
        (ionChange)="departureToSelect()">
        <ion-select-option *ngFor="let item of designations" [value]="item.Destination">{{item.Destination}}
        </ion-select-option>

      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Airline Price</ion-label>
      <ion-input disabled="true" [(ngModel)]="travelInfo.airlinePrice"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="travelInfo.departureToTwo" disabled="true">
        <ion-select-option *ngFor="let item of designations" [value]="item.Destination">{{item.Destination}}
        </ion-select-option>

      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-select placeholder="" [(ngModel)]="travelInfo.departureFrom" disabled="true">
        <ion-select-option *ngFor="let item of designations" [value]="item.Destination">{{item.Destination}}
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Preferable Date From</ion-label>
      <ion-datetime [(ngModel)]="travelInfo.preferableDateFrom" displayFormat="MM/DD/YYYY" placeholder="Select"
        [disabled]="isReadOnly" (ionChange)="preferableDateFromChange()">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime [(ngModel)]="travelInfo.preferableDateFrom" displayFormat="MM/DD/YYYY" placeholder=""
        disabled="isReadOnly">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime [(ngModel)]="travelInfo.preferableDateToTwo" displayFormat="MM/DD/YYYY" placeholder="Select"
        [disabled]="isReadOnly" (ionChange)="preferableDateToTwoChange()">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime [(ngModel)]="travelInfo.preferableDateToTwo" displayFormat="MM/DD/YYYY" placeholder=""
        disabled="true">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>Preferable Time From</ion-label>
      <ion-datetime displayFormat="hh:mm" placeholder="Select" [(ngModel)]="travelInfo.preferableTimeFrom"
        [disabled]="isReadOnly">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime displayFormat="hh:mm" placeholder="Select" [(ngModel)]="travelInfo.preferableTimeFrom"
        disabled="true">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime displayFormat="hh:mm" placeholder="Select" [(ngModel)]="travelInfo.preferableTimeToTwo"
        [disabled]="isReadOnly">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label>To</ion-label>
      <ion-datetime displayFormat="hh:mm" placeholder="Select" [(ngModel)]="travelInfo.preferableTimeToTwo"
        disabled="true">
      </ion-datetime>
    </ion-item>

    <!-- ---------------------||||||||||||||||||||||||||||||||---------------------- -->
    <ion-list-header class="list-header-custom">
      <ion-label>Airline Information</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Preferable Flight</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="airlineInfo.preferableFlight" [disabled]="isReadOnly">
        <ion-select-option *ngFor="let item of flights" [value]="item.Flights">{{item.Flights}}</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Duration Of Visit (in Days) </ion-label>
      <ion-input [(ngModel)]="airlineInfo.durationOfVisit" disabled="true" (ngModelChange)="calcTotalHotelPrice()">
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">(Hotel Price) x (No. of days) </ion-label>
      <ion-input [(ngModel)]="basicInfo.totalHotelPrice" disabled="true"></ion-input>
    </ion-item>


    <ion-item>
      <!-- <ion-label position="floating">Expected Date Of Return</ion-label> -->
      <!-- <ion-input [(ngModel)]="travelInfo.preferableDateToTwo" disabled="true"></ion-input> -->
      <ion-label>Expected Date Of Return</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" placeholder="Select" [(ngModel)]="travelInfo.preferableDateToTwo"
        disabled="true">
      </ion-datetime>
    </ion-item>


    <!-- ---------------------||||||||||||||||||||||||||||||||---------------------- -->
    <ion-list-header class="list-header-custom">
      <ion-label>Other Information</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Mode Of Travel</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="otherInfo.modeOfTravel" [disabled]="isReadOnly">
        <ion-select-option value="1">Air Economy</ion-select-option>
        <ion-select-option value="2">Air Business</ion-select-option>
        <ion-select-option value="3">Train </ion-select-option>
        <ion-select-option value="4">Bus </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hotel Booking Required</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="otherInfo.hotelBookingRequired" [disabled]="isReadOnly">
        <ion-select-option value="yes">YES</ion-select-option>
        <ion-select-option value="no">NO</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Visa Required</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="otherInfo.viseRequired"
        [disabled]="isReadOnly || basicInfo.natureOfTravel == 'domestic' " (ionChange)="visaRequiredSelect()">
        <ion-select-option value="yes">YES</ion-select-option>
        <ion-select-option value="no">NO</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Visa Price</ion-label>
      <ion-input disabled="true" [(ngModel)]="otherInfo.visaPrice"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rent a Car Required</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="otherInfo.rentACarRequired" [disabled]="isReadOnly">
        <ion-select-option value="yes">YES</ion-select-option>
        <ion-select-option value="no">NO</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Other Arrangements</ion-label>
      <ion-input [(ngModel)]="otherInfo.otherArrangements" [disabled]="isReadOnly"></ion-input>
    </ion-item>

    <!-- ---------------------||||||||||||||||||||||||||||||||---------------------- -->
    <ion-list-header class="list-header-custom">
      <ion-label>Traveling Advance (For Finance Department)</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Advance Required</ion-label>
      <ion-select placeholder="Select" [(ngModel)]="travelingAdvance.advanceRequired" [disabled]="isReadOnly">
        <ion-select-option value="yes">YES</ion-select-option>
        <ion-select-option value="no">NO</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Advance Amount (PKR)</ion-label>
      <ion-input [(ngModel)]="travelingAdvance.advanceAmount" [disabled]="isReadOnly"></ion-input>
    </ion-item>

  </ion-list>

  <!-- <ion-button expand="full" fill="outline">Submit</ion-button> -->
  <ion-button expand="block" fill="outline" *ngIf="!isApproveBtn" (click)="submitInsertForm()" [disabled]="isReadOnly">
    Submit</ion-button>

  <!-- <div class="btns" *ngIf="generalService.userRole == 2 || generalService.userRole == 4"> -->
  <div class="btns" *ngIf="isApproveBtn">
    <ion-button size="small" class="approve-btn" (click)="approveRejectCfoHead(1)">Approve</ion-button>
    <ion-button size="small" class="reject-btn" (click)="approveRejectCfoHead(0)">Reject</ion-button>
  </div>

</ion-content>