.grad-bg {
    // --background: url(../../assets/img/bg.png) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // --background-size: cover;


    --background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // --background-size: cover;


}

.app-logo {
    text-align: center;
    margin-top: 15%;

    img {
        width: 30%;
    }
}

.creden-txt {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin-left: 12%;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 3%;
}

.signin-txt {
    width: 80%;
    margin-left: 13%;
    margin-top: 0px;
    color: #fff;
}


.form-login {
    width: 90%;
    text-align: center;
    margin: auto;

    ion-item {
        // margin-bottom: 2%;
        --background: transparent;
        --border-color: transparent;
    }



}

.remember-check {
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 100%;

    ion-checkbox {
        float: left;
    }

    p {
        width: 80%;
        float: left;
        margin: auto;
        margin-left: 2%;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }
}

.btn-login {
    text-align: center;
    margin-top: 5%;
    float: left;
    width: 100%;

    ion-button {
        width: 90%;
        --border-radius: 150px;
        --background: #fff;
        color: #0d6eb9
    }


}

.form-login {
    ion-label {
        --color: #fff;
    }

    ion-label.item-has-focus {
        --color: #fff;
    }

    ion-input {
        --placeholder-color: #fff;
        --color: #fff
    }


}



.pass-icon {
    float: left;
    font-size: 25px;
    margin-top: 11%;
    color: #fff;
    margin-left: 2%;
}

.username-item {
    float: right;
    width: 88%;
}


// New css ------------

.lbl-input {
    text-align: left;
    color: #fff;
    font-size: 19px;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 6px;
}

.input-parent {
    width: 100%;
    background: #fff;
    height: 100%;
    float: left;
    border-radius: 150px;
}

.user-icon {
    float: left;
    font-size: 25px;
    margin-top: 5%;
    color: #0d6eb9;
    margin-left: 2%;
}

.input-parent ion-input {
    --placeholder-color: #0d6eb9;
    --placeholder-opacity: 1;
    color: #0d6eb9;
}

.input-parent ion-item {
    --border: none !important;
    // height: 6vh;
}

.input-parent ion-icon {
    float: left;
    font-size: 25px;
    margin-top: 3%;
    color: #0d6eb9;
    margin-left: 2%;
}


.input-parent ion-item {
    --border: none !important;
}

.input-field-custom {
    float: left;
    width: 100%;
    margin-bottom: 0%;
}

.img-btm-div {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 8%;
}