<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Travel Request</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div class="contents-segment">
    <!-- pending -->
    <div class="pending-seg" *ngIf="segment == 'pending'">

      <div class="seg-list" *ngFor="let item of pendingForms" (click)="gotoDetail(item)">
        <h6>{{userName}}</h6>
        <p class="loc">{{item.DestinationIDFrom}} to {{item.DestinationIDTo2}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status pending-st">Status: Pending</p>
      </div>

    </div>

    <!-- approved -->
    <div *ngIf="segment == 'approved'">
      <div class="seg-list" *ngFor="let item of approvedForms" (click)="gotoDetail(item)">
        <h6>{{userName}}</h6>
        <p class="loc">{{item.DestinationIDFrom}} to {{item.DestinationIDTo2}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status approved-st">Status: Approved</p>
      </div>
    </div>
  </div>


</ion-content>