<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Travel Request</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="bg">

  <div class="home-header">
    <div class="head-left">
      <img class="back-btn" src="assets/icon/back-btn.png" (click)="goBackPage()">
      <p>My Travel Request</p>
    </div>
    <div class="head-right">
      <img src="assets/img/trf-logo.png">
    </div>
  </div>



  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="approved">
      <ion-label>Approved</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div class="contents-segment">
    <!-- pending -->
    <div class="pending-seg" *ngIf="segment == 'pending'">

      <!-- 
      <div class="seg-list" (click)="gotoDetail(item)">
        <h6>Hammad Ahmed</h6>
        <p class="loc">From: Karachi to Hyderabad</p>
        <p class="from">From: 2019-6-2</p>
        <p class="to">To: 2019-6-2</p>
        <p class="req">Requested date: 2019-6-2</p>
        <p class="status pending-st">Status: Pending</p>
      </div> -->


      <div class="seg-list" *ngFor="let item of pendingForms" (click)="gotoDetail(item)">
        <h6>{{userName}}</h6>
        <p class="loc">From: {{item.DestinationIDFrom}} to {{item.DestinationIDTo1}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status pending-st">Status: Pending</p>
      </div>

    </div>

    <!-- approved -->
    <div *ngIf="segment == 'approved'">
      <div class="seg-list" *ngFor="let item of approvedForms" (click)="gotoDetail(item)">
        <h6>{{userName}}</h6>
        <p class="loc">From: {{item.DestinationIDFrom}} to {{item.DestinationIDTo1}}</p>
        <p class="from">From: {{item.PreferDateFrom}}</p>
        <p class="to">To: {{item.PreferDateTo2}}</p>
        <p class="req">Requested date: {{item.RequestedDate}}</p>
        <p class="status approved-st">Status: Approved</p>
      </div>
    </div>
  </div>

  <p class="no-record" *ngIf="segment == 'pending' && pendingForms<1">NO RECORD FOUND</p>
  <p class="no-record" *ngIf="segment == 'approved' && approvedForms<1">NO RECORD FOUND</p>

  <div class="img-btm-div">
    <img src="assets/img/logo.png">
  </div>
</ion-content>