ion-header ion-toolbar {
    --background: #3e3866 !important;
    color: #fff;
    text-align: center;
}

.burger-icon {
    color: #fff;
}


.seg-list {
    padding: 3%;
    float: left;
    border: 1px solid;
    margin-top: 11px;
    border-radius: 20px;
    margin: 12px;
    /* border-color: #3e3866; */
    background: #fff;
    border: none;
    font-size: 12px;
}

.seg-list p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.seg-list h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0d6eb9;
}

.seg-list .from {
    width: 50%;
    float: left;
}

.seg-list .to {
    width: 50%;
    float: left;
}

.seg-list .req {
    width: 58%;
    float: left;
}

.seg-list .status {
    width: 50%;
    float: left;
}

.seg-list .pending-st {
    color: red;
    width: 30%;
}

.seg-list .approved-st {
    color: green;
    width: 40%;
}





// New Css

// Header 

.bg {
    --background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
}


.home-header {
    width: 100%;
    color: #fff;
    padding-left: 7%;
    float: left;
    background: #0d6eb9;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.head-left {
    margin-top: 8%;
    width: 50%;
    float: left;

}

.head-left p {
    float: left;
    width: 70%;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 18px;
    font-weight: 500;

}

.head-left {
    width: 70%;
    float: left;
}

.head-right {
    width: 30%;
    float: right;
    text-align: right;
}


.head-right img {
    width: 60%;
    // margin-right: 20%;

    // width: 30%;
    margin-right: 20%;
    margin-top: 20%;
}

.back-btn {
    width: 15%;
    float: left;
}

// Header end


ion-segment {
    background: transparent;
    border-radius: 150px;
    margin-top: 35%;
    width: 90%;
    margin: auto;
    margin-top: 35%;
    --color-checked: #0d6eb9;

    ion-segment-button {
        background: #fff;
        border-radius: 150px;
        margin-right: 1%;
    }

}

.no-record {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30%;
    text-align: center;
    color: #fff;
}