// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


.user-img {
    float: left;
    width: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.user-name {
    width: 50%;
    float: right;
    margin-top: 12%;
}


.user-designation {
    float: right;
    width: 50%;
}

ion-header ion-toolbar ion-title {
    padding-left: 0 !important;
}



.alert-radio-group::-webkit-scrollbar {
    width: 1em;
    display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


ion-menu-button {
    color: #fff !important;
}