<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <img class="user-img" src="../assets/img/user.png">
        <div class="user-name">{{userName}}</div>
        <p class="user-designation">{{userDesignation}}</p>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" (click)="gotoUrl(p.url)">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>