<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg">

  <!-- 
  <p (click)="openCalendar()">WELCOME</p>

  <p>TO</p>

  <p>TRF</p> -->


  <div class="home-header">
    <div class="head-left">
      <p>Welcome Back</p>
      <p>{{userName}}</p>
      <p>{{userDesignation}}</p>
    </div>
    <div class="head-right" (click)="openCalendar()">
      <img src="assets/img/trf-logo.png">
    </div>
  </div>


  <div class="cus-menu">
    <ion-grid>
      <ion-row>
        <ion-col size="4" (click)="gotoTravelRequestForm()">
          <div class="col-div">
            <img src="assets/img/travel.png">
            <h4>Travel Requests</h4>
          </div>
        </ion-col>
        <ion-col size="4" (click)="gotoMyTravelRequests()">
          <div class="col-div">
            <img src="assets/img/request.png">
            <h4>My Requests</h4>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="checkArrayVal('Approve/Reject Head')" (click)="gotoHeadPending()">
          <div class="col-div">
            <img src="assets/img/pending.png">
            <h4>Head Pending</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngIf="checkArrayVal('Approve/Reject Head')" (click)=" gotoHeadApprove()">
          <div class="col-div">
            <img src="assets/img/approve.png">
            <h4>Head Approved</h4>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="checkArrayVal('Approve/Reject Cfo')" (click)="gotoCfoPending()">
          <div class="col-div">
            <img src="assets/img/pending.png">
            <h4>CFO Pending</h4>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="checkArrayVal('Approve/Reject Cfo')" (click)="gotoCfoApprove()">
          <div class="col-div">
            <img src="assets/img/approve.png">
            <h4>CFO Approved</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngIf="checkArrayVal('Approve/Reject Ceo')" (click)="gotoCeoPending()">
          <div class="col-div">
            <img src="assets/img/pending.png">
            <h4>CEO Pending</h4>
          </div>
        </ion-col>

        <ion-col size="4" (click)="logout()">
          <div class="col-div">
            <img src="assets/icon/logout.png">
            <h4>Logout</h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="img-btm-div">
    <img src="assets/img/logo.png">
  </div>

</ion-content>