.home-page p {
    font-size: 40px;
    margin: auto;
    text-align: center;
    margin-top: 18%;
    font-weight: 500;
    color: #3e3866;
}

ion-header ion-toolbar{
    --background: #3e3866 !important;

}

.burger-icon{
    color: #fff;
}