<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="burger-icon">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg">

  <!-- 
  <p (click)="openCalendar()">WELCOME</p>

  <p>TO</p>

  <p>TRF</p> -->


  <div class="header">
    <div class="head-left">
      <p>Welcome Back</p>
      <p>Hammad Khatri</p>
      <p>I.T Manager - 2988</p>
    </div>
    <div>
      <img src="assets/img/trf-logo.png">
    </div>
  </div>

</ion-content>